body{
  margin:0;
  font-family: Arial;
  background:#0f172a;
}

.app-container{
  display:flex;
  justify-content:center;
  padding:40px;
}

.container{
  background:#1e293b;
  padding:25px;
  border-radius:10px;
  width:450px;
}

.main-title{
  text-align:center;
  color:white;
  margin-bottom:20px;
}

input{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:5px;
  border:1px solid #ccc;
}

button{
  padding:8px 12px;
  margin:5px;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.login-btn{
  background:#3b82f6;
  color:white;
}

.create-btn{
  background:#22c55e;
  color:white;
}

.get-btn{
  background:#f59e0b;
  color:white;
}

.delete-btn{
  background:red;
  color:white;
}

/* TASK LIST SCROLL FIX */

.task-container{
  margin-top:15px;
}

.task-list{
  max-height:200px;
  overflow-y:auto;
  padding:0;
}

.task-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:8px;
  border-bottom:1px solid #444;
  list-style:none;
}